/*
CSS reset
 */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video, textarea, button{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

:root {
    --brand-color: #000;
}

body {
    font-family: Arial, "Helvetica Neue", sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 160%;
}

button {
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
}

iframe {
    width: 100%;
    min-height: 100%;
}

textarea {
    border: 0;
    background: #fff;
    padding: 20px;
    font-size: 18px;
    line-height: 150%;
    width: 100%;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,strong {
    font-weight: bold;
    margin-bottom: 1em;
}

p {
    margin-bottom: 1em;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 35px;
    box-sizing: border-box;
}

main {
    display: flex;
    margin: 35px 0;
}

aside {
    background: rgba(196, 196, 196, 0.13);
    padding: 26px 23px;
    flex-basis: 494px;
    box-sizing: border-box;
    margin-right: 45px;
}

section {
    flex-grow: 1;
}


#submit {
    background: var(--brand-color);
    border-radius: 3px;
    width: 230px;
    height: 47px;
    display: flex;
    justify-content: center;
    padding: 13px 17px;
    align-items: center;
    border: 0;
    margin: 40px auto 0 auto;
}

#submit[disabled] {
    opacity: .5;
}

#submit svg {
    border-right: 1px solid #fff;
    padding-right: 30px;
    color: #fff;
}

#submit span {
    width: 138px;
    color: #fff;
}

#status {
    font-size: 8px;
    line-height: 160%;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #A49D9D;
    margin-top: 15px;
}


#status > div {
    border-right: 1px solid #A49D9D;
    padding-right: 4px;
    margin-right: 4px;
}

#status > div:last-child {
    border: 0;
    margin-right: 0;
    padding-right: 0;
}

#status,
#iframe{
    opacity: 0;

}

#status.active,
#iframe.active {
    opacity: 1;
    transition: opacity 300ms ease;
}

#status.active.finished,
#iframe.active.finished {
    display: none;
}

#finished {
    display: none;
}

#finished.active {
    display: block;
}

h2 {
    font-size: 34px;
    line-height: 160%;
    display: flex;
    align-items: center;
}

h2 span {
    margin-right: 35px;
}

h2 span svg {
    display: block;
}

label {
    font-weight: bold;
    margin-bottom: 1em;
    display: block;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

@media all and (max-height: 800px ) {

    body {
        font-size: 14px;
    }

}